@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nunito&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0B1A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
  background: #dbdbdb;
}

P{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
/* identical to box height, or 186% */


color: #FFFFFF;
}